rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /zf-operativa-v3/{sessionId}/{fileName} {
      allow read, write: if request.auth != null && request.resource.size < 15 * 1024 * 1024;
    }
  }
}
